*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}


.about
{
	position:relative;
	width: 100%;
	display: flex;
}
.about .contentBx
{
	background: #162c3b;
	padding: 100px;
	width: 50%;
}
.heading
{
	color:	#996666;
	font-size:16 px;
	font-weight:300;
	letter-spacing:1px;
	margin-bottom: 10px;
}
.text
{
	color:#fff;
	font-size:16px;
	font-weight:300;
	letter-spacing:1px;
}
.about .imgBx
{
	background:url(window.jpg);
	width:50%;
	background-size:cover;
	background-position:center;
}